.tasks-title {
    font-size: clamp(25px, 3.5vw, 20px);
    font-weight: bold;
    color: var(--primary);
    text-decoration: underline;
    margin-bottom: 20px;
}

.tasks-btn-container {
    position: fixed;
    bottom: 45px;
    right: 40px;
    cursor: pointer;
}
