.view-task-container{
    border: 1px solid var(--primary);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    min-width: 80vw;
    background-color: #c0c8d3;
    box-shadow: 10px 10px 8px var(--shadow);
    width: max-content;
}

.view-task{
    display: flex;
    gap: 10px;
}

.view-task-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label-name{
    font-weight: 400;
    color: var(--primary);
    font-size: 20px;
}

.task-val{
    font-weight: bold;
    font-size: clamp(20px,3vw,15px);
    width: max-content;
    text-decoration: underline;
    color: var(--warning);
    margin-left: 10px;
    cursor: pointer;
}

.view-task-right{
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.view-task-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}