.warehouse-container {
  display: grid;
  grid-auto-columns: minmax(auto-fit, 1fr);
  grid-auto-rows: minmax(300px, 1fr);
  grid-template-areas:
    "inventory inventory finished finished samples samples"
    "progres progres review goods ebooks ebooks";
  gap: 20px;
  padding: 10px;
  grid-area: main;
  
}
@media (min-width: 300px) {
  .storehouse-container {
    grid-template-areas:
      "inventory finished"
      "inventory review"
      "progres review"
      "progres goods"
      "samples ebooks"
      "samples ebooks"
      "notSolid notSolid";
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
  }
}