.inventory-header-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--text-muted);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.inventory-header-right{
  display: flex;
  flex-direction: column;
}
.inventory-header-title{
  font-size: 40px;
  font-weight: bold;
}
