.inventory-box-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--surface);
    color: var(--primary);
    box-sizing: border-box;
    padding: 20px;
    width: 200px;
}

.inventory-box-title{
    font-size: 20px;
    font-weight: bold;
}

.inventory-box-number{
  font-size: 40px;
  font-weight: bold;
}
.inventory-state-low,.inventory-state-out{
    color: var(--text-muted);
    background-color: var(--accent);
    border-radius: 15px;
    font-size: 10px;
}
.inventory-state-out{
    background-color: var(--error);
}
.inventory-number-yellow{
    color: var(--accent);
}
.inventory-number-red{
    color: var(--error);
}