.book-details-with-img {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
    margin-top: 100px;
}

.book-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.close-icon {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10px;
}

.book-details-image {
    border-radius: 10px;
    height: 300px;
}

.book-details-info {
    font-size: 25px;
    border-bottom: 1px solid rgb(87, 80, 80);
    color: var(--text);
    align-self: baseline;
    margin-left: 30px;
}