.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
}

.product-image {
  height: 300px;
  border-radius: 10px;
}

.paragraph {
  align-self: flex-start;
}