.two-fa-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  background-color: var(--background);
  padding: 10px;
}
.prefix-number{
  height: 40px;
  width: 55px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid var(--border);
  margin-right: 5px;
  font-size: 15px;
  background-color: rgb(80, 80, 155);
  
  color: white;
}
.two-fa-title{
  font-size: 60px;
  margin: 0px;
  color: var(--text);
}