.products-container{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(181px,1fr)) ;
  gap: 3px;
}
.home-page-container{
  position: relative;
}

.add-books-icon{
  height: 60px;  
}

.add-books-container{
  position: fixed;
  bottom: 15px;
  cursor: pointer;
}

