.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(181px, 1fr));
  gap: 3px;
}

.add-books-icon {
  height: 60px;
}

.add-books-container {
  position: fixed;
  bottom: 15px;
  cursor: pointer;
}

.btn-1{
  position: absolute;
  left: 30px;
  bottom: 10px;
}

.btn-2{
  position: absolute;
  right: 30px;
  bottom: 10px;
}