.login-body-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  background-color:  var(--background);
  padding: 10px;
}

.login-title {
  font-size: 50px;
  margin: 0px;
  color: var(--text);
}

.sign-up-link {
  text-decoration: none;
  color: var(--primary);
  font-size: 25px;
}

.another-way-auth-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-button {
  height: 50px;
  width: 250px;
  font-size: 30px;
  color:  var(--text-muted);
  border-radius: 10px;
  border: 1px solid  var(--border);
  background-color:  var(--primary);
  cursor: pointer;
}

.login-button:hover{
  background-color:  var(--hover);
}

.login-input.email {
  margin-bottom: 10px;
}

.question-paragraph {
  margin: 0px;
  text-decoration: none;
  color: gray;
  font-size: 25px;
}