.addBook-input-container{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 30px;

}

.form-label{
    margin-left: 50px;
    background-color:rgba(28, 64, 174, 0.614);
    width:fit-content;
    padding: 2px 10px;
    border-radius: 5px ;
    border-bottom: 3px rgba(28, 64, 174,1) solid;
    color: rgb(255, 255, 255);
}
.addBook-container{
    position: relative;
}

.divider{
    background-color: lightblue;
    height: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.upload-button-wrapper{
    position:fixed;
    bottom: 30px;
    right: 40px;
}