.inventory-sales-item-container{
    position: relative;
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.inventory-sales-item-title{
    font-size: 20px;
    color: var(--primary);
    font-weight: bold;
}

.inventory-sales-item-txt{
    color: var(--shadow);
}

.inventory-sales-item-btn{
    color: var(--text-muted);
    background-color: var(--primary);
    border: none;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.inventory-sales-item-btn:hover{
    color: var(--primary);
    background-color: var(--text-muted);
}