.add-book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--surface);
    border-radius: 10px;
    width: 400px;
    box-shadow: 2px 2px 8px var(--shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10px;
    font-size: 30px;
    color: var(--text);
}

.add-book-container:hover {
    box-shadow: var(--hover);
}

.add-book-input {
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--border);
    padding: 10px;
    font-size: 20px;
    color: var(--text);
}

.add-book-input:hover {
    box-shadow: var(--hover);
}

.add-book-input:focus {
    border: 1px solid var(--accent);
    background-color: var(--primary);
}

.add-book-input::placeholder {
    color: var(--text);
}

.add-book-input:focus::placeholder{
    color: var(--text-muted);
}

.add-book-button {
    border: none;
    border-radius: 10px;
    color: var(--text-muted);
    background-color: var(--primary);
    font-size: 30px;
    width: 50%;
    align-self: center;
    padding: 10px;
    cursor: pointer;
}

.add-book-button:hover {
    box-shadow: var(--hover);
    opacity: 0.9;
}

.add-book-input-file {
    color: var(--text);
    font-size: 15px;
}

.add-book-input-file::file-selector-button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--text-muted);
    background-color: var(--primary);
    font-size: 20px;
    cursor: pointer;
}

.add-book-input-file::file-selector-button:hover {
    box-shadow: var(--shadow);
}

.add-book-select {
    width: 160px;
    height: 30px;
    font-size: 20px;
    color: var(--text);
    outline: none;
    border: 1px solid var(--border);
    border-radius: 10px;
}

.add-book-select:focus{
    border: 1px solid var(--accent);
    background-color: var(--primary);  
    color: var(--text-muted);
}

.add-book-txt {
    font-size: 20px;
}