.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 5px 5px 8px var(--shadow);
    cursor: pointer;
    min-width: max-content;
}

.card-container:hover{
    transform: scale(1.03);
}

.card-number {
    font-size: clamp(20px, 5vw, 40px);
    font-weight: bold;
}

.card-title {
    font-size: clamp(15px, 2vw, 20px);
    color: var(--primary);
    font-weight: bold;
}

.card-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-txt {
    font-size: clamp(20px,2vw,15px);
}

.card-state-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-state {
    color: var(--text-muted);
    border-radius: 15px;
    font-size: 15px;
    width: 30px;
    padding: 4px;
    align-self: center;
    margin-left: 10px;
}

.img-adition{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}