.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  background-color: var(--primary);
  color: var(--text-muted);
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 100000;
  grid-area: header;
}

.header-middle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-muted);
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.header-person-image {
  height: 60px;
}

.header-menu-image {
  height: 30px;
  margin-top: 10px;
}

.header-book-image {
  height: 30px;
}

.sort-paragraph {
  margin: 0px;
  font-size: 20px;
  color: var(--text-muted);
}

.header-sort-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}

.header-sort-button:hover {
  background-color: var(--hover);
  border: 1px solid var(--border);
}

.web-name {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-muted);
  margin: 0px;
  text-decoration: none;
}

.number-book-paragraph {
  font-size: 20px;
  color: var(--text-muted);
  margin: 0px;
}

.menu-button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

.header-left-section {
  cursor: pointer;
}