.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: header;
}

.header-middle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-muted);
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.header-search-image {
  height: 32px;
  position: absolute;
  right: 0px;
  z-index: 10;
  cursor: pointer;
}

.header-search-image:hover {
  opacity: 0.5;
  border-radius: 10px;
}

.header-search-bar {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--border);
  font-size: 20px;
  flex-grow: 1;
}

.header-search-section {
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 500px;
}

.header-person-image {
  height: 50px;
}

.header-menu-image {
  height: 30px;
  margin-top: 10px;
}

.header-book-image {
  height: 30px;
}

.sort-paragraph {
  margin: 0px;
  font-size: 20px;
  color: var(--text-muted);
}

.header-sort-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}

.header-sort-button:hover{
  background-color: var(--hover);
  border: 1px solid var(--border);
}

.web-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-muted);
  margin: 0px;
  text-decoration: none;
}

.number-book-paragraph {
  font-size: 20px;
  color: var(--text-muted);
  margin: 0px;
}

.menu-button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

.header-left-section {
  cursor: pointer;
}