.main-menu-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 54px;
  align-self: flex-start;
  height: calc(100vh - 54px);
  grid-area: side;
  min-width: 60px;
  width: 90px;
  min-height: calc(100vh - 54px);
}

.alarm-icon{
  height: 30px;
  margin-bottom: auto;
}
.alarm-button{
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

