.order-container{
    display: flex;
    flex-direction: column;
    background-color:var(--primary);
    color: var(--text-muted);
    gap: 10px;
    border-radius: 20px;
    border: 5px solid var(--border);
    overflow-x: scroll;
    scrollbar-width: none;
}
.books-order-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px,1fr));
    border-bottom: 1px solid var(--border);
    margin-bottom: 20px;
    column-gap: 10px;
}
.book-order-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.book-order-image{
    height: 200px;
    border-radius: 10px;
}
.order-txt{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.order-txt-name{
    font-weight: bold;
    font-size: 30px;
    align-self: center;
}

.order-btn-container{
    display: flex;
    justify-content: space-around;
}

.order-btn{
    background: none;
    border: none;
    padding: 10px;
    color: var(--text-muted);
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.order-btn:hover{
    background-color: var(--hover);
}
.order-title{
    font-weight: bold;
    font-size: 35px;
    margin-left: 10px;
}