.resources-table-container {
    border-radius: 20px;
}

.resources-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 8px var(--shadow);
    border-radius: 20px;
    overflow: hidden;
}

.resources-table th,
.resources-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border);
}

.resources-table th {
    background-color: var(--primary);
    color: var(--text-muted);
    padding: 22px 26px;
}

.resources-table-body tr:last-child td {
    border-bottom: none;
}

.resources-table-body tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.resources-table-body tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.resources-table-body tr:hover{
    cursor: pointer;
    background-color: var(--shadow);
    transform: scale(1.03);
}