.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60vh;
    gap: 40px;
    background-color: var(--background);
    color: var(--text);
}

.edit-profile-txt {
    font-size: 20px;
    font-weight: bold;
}

.more-edit-section {
    display: flex;
    gap: 10px;
}

.edit-profile-input {
    padding: 10px;
    font-size: 20px;
    width: 400px;
}

.txt-input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-profile-title {
    color: var(--primary);
    font-size: 40px;
    font-weight: bold;
    align-self: flex-start;
}

.edit-profile-link{
    text-decoration: none;
    color: var(--accent);
    font-weight: 900;
    font-size: 20px;
}
.edit-profile-link:hover{
    text-shadow: 5px 5px 8px var(--shadow);
}

.edit{
    width: 400px;
    font-size: 30px;
}