.assign-task-component {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--text-muted);
    gap: 20px;
    width: 500px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.assign-task-title {
    font-size: 30px;
    font-weight: bold;
}

.assign-task-txt {
    font-size: 20px;
}

.assign-task-select {
    width: 150px;
    color: var(--text);
    border: 1px solid var(--border);
    padding: 6px;
    font-size: 20px;
    border-radius: 5px;
}

.assign-inputs-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}

.assing-task-input {
    width: 110px;
    color: var(--text);
    border: 1px solid var(--border);
    padding: 4px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.assign-inputs {
    display: flex;
    cursor: pointer;
    gap: 10px;
}

.assign-task-btn{
    align-self: center;
    background: none;
    color: var(--text-muted);
    border: 1px solid var(--border);
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.assign-task-btn:hover{
    background-color: var(--hover);
    box-shadow: 5px 5px 8px var(--shadow);
}

.error-txt{
    color: var(--error);
    font-size: 20px;
    align-self: center;
}