.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  background-color: var(--background);
  padding: 10px;
}

.sign-up-phone-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign-up-title {
  font-size: 50px;
  margin: 0px;
  color: var(--text);
}

.sign-up-button {
  height: 50px;
  width: 250px;
  font-size: 30px;
  color: var(--text-muted);
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  var(--primary);
}

.sign-up-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.sign-up-arrow-image {
  height: 30px;
}

.next-text-button {
  margin: 0px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}