.edit-resource-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-resource-div {
    display: flex;
    min-width: max-content;
    max-width: 100%;
    justify-content: space-around;
}

.edit-resource-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-resource-right {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.resource-divider {
    background-color: var(--primary);
    height: 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}