.sub-menu-container {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  position: fixed;
  right: 45%;
  left: 30%;
  bottom: 0px;
  background-color: lightgrey;
  border-radius: 20px;
  opacity: 0.9;
  grid-area: footer;
  min-width: 366.5px;
}

.sub-menu-icon {
  height: 30px;
  align-self: center;
}

.sub-menu-paragraph {
  margin: 0px;
}

.sub-menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

.body-sub-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu-section.active {
  background-color: darkblue;
  box-shadow: 4px 4px 8px gray;
  color: white;
  border-radius: 20px;
}