.two-fa-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  background-color: rgb(245, 243, 243);
  padding: 10px;
}
.prefix-number{
  width: 55px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid gray;
  margin-right: 5px;
  font-size: 15px;
  color: gray;
}
.two-fa-title{
  font-size: 60px;
  margin: 0px;
  color: gray;
}