.edit-employee-container {
    display: flex;
    flex-direction: column;
    background-color:var(--primary);
    color: var(--text-muted);
    padding: 12px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 4px solid var(--border);
    border-image: linear-gradient(to right, var(--accent), var(--border)) 1 1 1 1;
}

.edit-employee-container:hover{
    background-color:var(--hover);
    border-image: linear-gradient(to right, var(--border), var(--accent)) 1 1 1 1;
}


.edit-info-input {
    border-radius: 10px;
    border: 1px solid var(--border);
    background: none;
    color: var(--text-muted);
}

.edit-info-input:focus {
    opacity: 0.8;
    box-shadow: 2px 2px 8px var(--shadow);
    border: none;
}

.status-info-container {
    display: flex;
}

.evaluation-selector {
    color: var(--text-muted);
    border-radius: 10px;
    border: 1px solid var(--border);
    width: 70px;
}

.confirm-edit-button {
    width: 60px;
    align-self: center;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: none;
    padding: 5px;
    color: var(--text-muted);
    font-size: 15px;
}

.confirm-edit-button:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 8px var(--shadow);
}

.edit-info-radio {
    background: none;
    border: 1px solid var(--border);
}

.close-edit-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}