.no-items-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9299a7ad;
    font-weight: 700;
    font-size: clamp(20px, 3vw, 40px);
    justify-content: center;
    margin-left: auto;
    margin-left: auto;
    margin-top: 220px;
    margin-bottom: 220px;
    gap: 20px;
}

.step3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.step3-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
