.login-body-section {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  background-color:  var(--background);
  padding: 10px;
}

.login-title {
  font-size: clamp(30px,5vw,50px);
  color: var(--primary);
  margin: 0px;
}

.sign-up-link {
  text-decoration: underline;
  color: var(--primary);
  font-size: 25px;
}

.another-way-auth-section {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.login-button {
  height: 50px;
  width: 250px;
  font-size: 30px;
  color:  var(--text-muted);
  border-radius: 10px;
  border: 1px solid  var(--border);
  background-color:  var(--primary);
  cursor: pointer;
}

.login-button:hover{
  background-color:  var(--hover);
}

.login-input.email {
  margin-bottom: 10px;
}

.question-paragraph {
  margin: 0px;
  text-decoration: none;
  color: gray;
  font-size: 25px;
}

.question-login{
  font-size: clamp(20px,2.5vw,25px);
  align-self: flex-start;
  margin-left: 35px;
  font-weight: 800;
  color: var(--shadow);
  text-decoration: underline;
}